{% extends 'main_pagebase.html' %}
{% block body %}
    {{ super() }}
    <div class="container">
        <div class="p-5 mb-4 bg-light rounded-3">
            <div class="container-fluid py-5">
                <h1 class="display-5 fw-bold">Программа лояльности</h1>
                <p class="col-md-8 fs-4">Набирайте баллы и превращайте их в награды</p>
                <button type="button" class="btn btn-outline-warning"><a href="/profile" class="nav-link">Смотреть баллы</a></button>
            </div>
        </div>
    </div>
    <div class="container px-4 py-5" id="hanging-icons">
    <h2 class="pb-2 border-bottom">Программа лояльности? 🤔</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="col d-flex align-items-start">
        <div>
          <h2>Шаг 1</h2>
          <p>Принимай участие в розыгрышах монет, конкурсов и активно себя показывай, чтобы получить монеты</p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div>
          <h2>Шаг 2</h2>
          <p>Выбери нужный тебе подарок, и подбери его по ценовой категории.</p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div>
          <h2>Шаг 3</h2>
          <p>Добавь необходимый предмет в корзину и спиши бонусы!</p>
        </div>
      </div>
    </div>
  </div>

{% endblock %}