{% extends 'main_pagebase.html' %}
{% block body %}
    {{ super() }}
        <div class="container">
    {% for cat, msg in get_flashed_messages(True) %}
        <div class="alert alert-{{ cat }} alert-dismissible fade show" role="alert">
          {{ msg }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
    </div>
        <div class="container col-xl-10 col-xxl-8 px-4 py-5">
            <div class="row align-items-center g-lg-5 py-5">
              <div class="col-lg-7 text-center text-lg-start">
                <h1 class="display-4 fw-bold lh-1 mb-3">Мы ждем здесь логин и пароль 🙈</h1>
                <p class="col-lg-10 fs-4">Если у вас еще нет аккаунта, то советуем зарегистрироваться.</p>
              </div>
              <div class="col-md-10 mx-auto col-lg-5">
                <form class="p-4 p-md-5 border rounded-3 bg-light" method="post">
                  <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" name="email">
                    <label for="floatingInput">Email</label>
                  </div>
                  <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="psw">
                    <label for="floatingPassword">Пароль</label>
                  </div>
                  <div class="checkbox mb-3">
                    <label>
                      <input type="checkbox" value="remember-me" name="checkbox"> Запомнить меня
                    </label>
                  </div>
                  <button class="w-100 btn btn-lg btn-primary" type="submit">Войти</button>
                  <hr class="my-4">
                    <small class="text-muted"><a href="/register">Зарегистрироваться</a></small>
                </form>
              </div>
    </div>
    </div>

{% endblock %}