{% extends 'main_pagebase.html' %}
{% block body %}
{{ super() }}
<div class="container">
  <div class="p-5 mb-4 bg-light ">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold">{{ project.NAME_PROJECT }}</h1>
      <p class="col-md-8 fs-4">Категория проекта: {{ project.CATEGORY_PROJECT }}</p>
    </div>
    <div class="row align-items-md-stretch">
      <div class="col-md-12">
        <div class="h-100 p-5 text-white bg-primary rounded-3">
          <h2>О проекте:</h2>
          <p>{{ project.DESCRIPTION }}</p>
          <h2>Автор проекта:</h2>
          <p>Имя: {{ project.AUTHOR_FIRST_NAME }} Фамилия: {{ project.AUTHOR_LAST_NAME }} Никнейм: {{
            project.AUTHOR_USER_NAME }}</p>
        </div>
      </div>
      <div class="col-md-12 py-3 mb-4">
        <div class="h-100 p-5 bg-light border rounded-3 text-center">
          <h2>Посмотреть презентацию проекта</h2>
            <br class="my-4">
            <form method="post" action="{{url_for('downloadProject', id_post=project.ID)}}" enctype=multipart/form-data>
                <div class="container text-center">
                    <button class="w-100 btn btn-primary btn-lg" type="submit">Смотреть</button>
                </div>
            </form>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}