{% extends 'main_pagebase.html' %}
{% block body %}
    {{ super() }}
    <div class="container">
        <h1 class="text-center"><span class="badge bg-primary">ПРАВИЛА</span> Предоставления услуг</h1>
        <p class="fs-5 col-md- text-center">
            Мы считаем, что честность — это лучшая стратегия на нашем рынке. Поэтому мы разработали самую справедливую и прозрачную политику предоставления услуг. Ознакомьтесь с информацией, приведенной в данном разделе, чтобы узнать о правилах и условиях доставки, возврата и обмена товара, а также о способах защиты персональных данных. Если у вас возникли какие-либо вопросы, свяжитесь с нами.
        </p>
        <br>
    </div>
    <div class="container">
        <div class="card">
              <div class="card-body">
                <h5 class="card-title">Как создать проект на JuniorInvest?</h5>
              </div>
              <ul class="list-group list-group-flush">
                    <li class="list-group-item">1. Перейдите в <a href="/profile">профиль</a>, создайте пост с вашим проектом.</li>
                    <li class="list-group-item">2. Создайте правильное описание проекта.</li>
              </ul>
            </div>
        <br>
        <div class="card">
              <div class="card-body">
                <h5 class="card-title">Как составить грамотное описание проекта?</h5>
              </div>
              <ul class="list-group list-group-flush">
                    <li class="list-group-item">1. В названии заложена сама цель проекта, которая должна быть чёткой и всем понятной.</li>
                    <li class="list-group-item">2. Начните описание проекта с представления себя и своей команды. Кто вы?  Приведите ссылки на ваши работы (если они есть) и обязательно покажите вашу команду (если она есть) в деле (с помощью фото и видео).</li>
                    <li class="list-group-item">3. Сформулируйте общую цель проекта. Обозначьте небольшую предысторию, если она есть. Расскажите, почему возникла ваша идея и в чем заключается её основная суть.</li>
                    <li class="list-group-item">4. Обязательно распишите что необходимо для достижения цели и реализации идеи. В частности, раскройте финансовую цель проекта: на что пойдут собранные средства?</li>
                    <li class="list-group-item">5. Если в проекте есть какие-то эксклюзивные вознаграждения или в них задействованы известные люди, настоятельно советуем указать эту информацию.</li>
              </ul>
            </div>
        <br>
        <div class="card">
              <div class="card-body">
                <h5 class="card-title">Обязательно ли записывать видеообращение?</h5>
                <p class="card-text">Мы оставляем за автором выбор, снимать ему видеообращение или нет, но крайне рекомендуем сделать это. Видео, как правило, повышает интерес к проекту и уровень доверия к автору, к тому же, оно может стать визитной карточкой вашего проекта и «инструментом» для его продвижения.
                    При подготовке видеообращения определите свою аудиторию, на которую расчитан ролик и отталкивайтесь от неё при продумывании сценария. Хронометраж видео – от двух до трёх минут.</p>
              </div>
            </div>
        <br>
        <div class="card">
              <div class="card-body">
                <h5 class="card-title">Что сказать в видеообращении?</h5>
              </div>
              <ul class="list-group list-group-flush">
                    <li class="list-group-item">1. Расскажите, почему вы решили воплотить свою идею в жизнь, существует ли какая-то проблема, которая стала причиной появления этой идеи</li>
                    <li class="list-group-item">2. Объясните понятными широкой аудитории словами, в чём заключается ваша задумка, опишите свои планы и то, каким образом вы хотите реализовать идею.</li>
                    <li class="list-group-item">3. Eсли чувствуете необходимость, кратко опишите текущую ситуацию на рынке. </li>
                    <li class="list-group-item">4. Уточните финансовую цель проекта и поясните, из каких затрат она складывается.</li>
                    <li class="list-group-item">5. Расскажите, как вы собираетесь поощрить тех, кто поддержит ваш проект.</li>
                    <li class="list-group-item">6. Поблагодарите будущих инвесторов за поддержкую.</li>
                    <li class="list-group-item">
                        <span class="badge bg-primary">ВАЖНО</span>
                         Публикуйте видеообращение в открытом доступе одновременно с запуском проекта! После запуска вы также сможете добавить видео, но первый и самый главный информационный повод уже будет упущен.
                    </li>
              </ul>
            </div>
        <br>
        <div class="card">
              <div class="card-body">
                <h5 class="card-title">Какие проекты не принимаются к рассмотрению на JuniorInvest?</h5>
                  <p class="card-text">Таковы требования действующего законодательства РФ.</p>
              </div>
              <ul class="list-group list-group-flush">
                    <li class="list-group-item">1. Побуждает детей к совершению действий, представляющих угрозу жизни или здоровью, как своему, так и жизни или здоровью других людей.</li>
                    <li class="list-group-item">2. Побуждает детей к употреблению наркотиков, психотропных веществ, табака, алкоголя, к участию в азартных играх, занятию проституцией, бродяжничеству или попрошайничеству.</li>
                    <li class="list-group-item">3. Обосновывает или оправдывает насилие по отношению к другим людям или животным.</li>
                    <li class="list-group-item">4. Содержит изображение или описание сексуального насилия.</li>
                    <li class="list-group-item">5. Отрицает семейные ценности, пропагандирует нетрадиционные сексуальные отношения и формирует неуважение к родителям и (или) другим членам семьи.</li>
                    <li class="list-group-item">6. Оправдывает противоправное поведение.</li>
                    <li class="list-group-item">7. Содержит нецензурную брань.</li>
                    <li class="list-group-item">8. Содержит информацию порнографического характера.</li>
                    <li class="list-group-item">9. Содержит информацию о несовершеннолетнем, пострадавшем в результате противоправного поведения с указанием персональных (индивидуализирующих) сведений.
                        – связанные с политической деятельностью.</li>
              </ul>
            </div>
        <br>
    </div>

{% endblock %}